<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netteam.vitality">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".InstagramAct"
            android:exported="false" />
        <activity
            android:name=".PremiumAct"
            android:exported="false" />
        <activity
            android:name=".LlamadaAct"
            android:exported="false" />
        <activity
            android:name=".CorazonAct"
            android:exported="false" />
        <activity
            android:name=".CalendarioAct"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadPrincipal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>